<!-- Edit bricks table-->
<p class="title has-text-centered">Edit Collection</p>

<table class="table is-striped is-hoverable is-fullwidth">
  <!-- Table headings -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Image</th>
      <th>Theme</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <!-- Table footings -->
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Image</th>
      <th>Theme</th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>

  <!-- Table body -->
  <tbody>
    <tr *ngFor="let legoSet of legoSets">
      <td>{{ legoSet.name }}</td>
      <td>
        <input
          class="input"
          type="text"
          value="{{ legoSet.year }}"
          style="width: min-content"
        />
      </td>
      <td>
        <input
          class="input"
          type="number"
          value="{{ legoSet.img }}"
          style="width: min-content"
        />
      </td>
      <td>{{ legoSet.theme }}</td>
      <td>
        <!-- <button class="button is-success">
          <fa-icon [icon]="iconOK"></fa-icon>
        </button> -->
      </td>
      <td>
        <!-- <button class="button is-danger">
          <fa-icon [icon]="iconDelete"></fa-icon>
        </button> -->
      </td>
    </tr>
  </tbody>
</table>
