<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" routerLink="/home"> -->
    <figure class="image is-128x128">
      <img src="../../assets/icons/logo.png" />
    </figure>
    <!-- </a> -->

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home"> <strong>Home </strong></a>
      <a class="navbar-item" routerLink="/view"> View Collection </a>
      <a class="navbar-item" routerLink="/edit"> Edit Collection </a>
      <a class="navbar-item" routerLink="/add"> Add Bricks </a>
    </div>
  </div>
</nav>
