<p class="title has-text-centered">Search for Sets</p>

<div class="box">
  <form [formGroup]="setDetails">
    <div class="columns is-centered">
      <!-- Name input -->
      <div class="column">
        <div class="field">
          <label class="label">Set Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="enter set name"
              style="width: min-content"
              formControlName="name"
              id="name"
            />
          </div>
        </div>
      </div>

      <!-- Year input -->
      <div class="column">
        <div class="field">
          <label class="label">Set Year</label>
          <div class="control">
            <input
              class="input"
              type="number"
              min="1990"
              max="2099"
              step="1"
              value="2022"
              style="width: min-content"
              formControlName="year"
            />
          </div>
        </div>
      </div>

      <!-- Theme input -->
      <div class="column">
        <div class="field">
          <label class="label">Set Theme</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="enter set theme"
              style="width: min-content"
              formControlName="theme"
            />
          </div>
        </div>
      </div>

      <!-- Form buttons -->
      <div class="column">
        <div class="field is-grouped">
          <div class="control">
            <button
              class="button is-link is-success"
              (click)="addLegoSet()"
              type="button"
            >
              Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-link is-light">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
